@font-face {
  font-family: 'Roboto_400Regular';
  src: url('./assets/fonts/LibreFranklin_400Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_600Bold';
  src: url('./assets/fonts/LibreFranklin_600SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


* {
  box-sizing: border-box;
  /* border: 0.1px solid green; */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto_400Regular' ,-apple-system, BlinkMacSystemFont,'Roboto', 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
